In [69]:
import pandas as pd
import numpy as np
import json

In [70]:
data = pd.read_csv("./HackIT Assignments - Profiles.csv")
data.sort_values(data.columns[-1], ascending=False, inplace=True)
data.reset_index(inplace=True)
data.drop(columns=["index"], inplace=True)
data.head()

                  NAME    ROLL  A1  A2  A3  A4  A5
0        Nikhil Mishra  210668   6   2   5   6  10
1      Divyansh Mittal  210358   5   6   2   7   7
2      Sharath Kumar V  200916   6   2   7   7   7
3         Arnav Singla  210188   3   6   4   1   7
4  Sai Praneeth Donthu  210900   2   2   6   2   7

In [71]:
details = data.loc[:, "NAME":"ROLL"]
data.drop(columns=["NAME", "ROLL"], inplace=True)
details.rename(columns={"NAME":"name", "ROLL":"roll"}, inplace=True)

In [72]:
scores = []
data = np.array(data)
for row in data:
    sum_ = sum(row)
    row = list(map(lambda x: 'a' if x==10 else str(x), row))
    string = ''.join(row)
    scores.append(string)
scores = pd.DataFrame(scores, columns=["scores"])

In [73]:
data = pd.concat([details, scores], axis=1)

In [74]:
out = "export const ProfilesData = " + data.to_json(orient='records')
with open("data_profiles.js", "w") as f:
    f.write(out)

In [75]:
data = pd.read_csv("./HackIT Assignments - Problems.csv")
data.head()

                                      Problems
0  A dummy Question that should be present no?
1          Animi reiciendis velit odit beatae.
2                      Sequi nesciunt laborum.
3           Nobis illo velit ipsa totam ipsum.
4                Minus ipsa quibusdam officia.

In [76]:
out = "export const Problems = " + str(np.array(data.loc[:, "Problems"])).replace(" ", ",").replace("'", "\"")
with open("data_problems.js", "w") as f:
    f.write(out)